body {
  background-color: rgb(0, 133, 42);
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 ;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  
}
body input{
  border-radius: 10px;
  border: none;
}


.link-to{
  text-decoration: none;
  color: rgb(44, 44, 44);
}



/* Screen Login */


.Border-Screen-Login{
  /* border: solid 3px black; */
  width: 360px;
  height: 760px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.40);
}

.Screen-image{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  color: white;
}


.Screen-forms-infos{
  background-color: white;
  padding: 40px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Screen-forms-login h2{
  margin: 0;
  margin-left: 10px;
  padding: 0;
  

}
.Screen-forms-login h5{
  margin-top: 0;
  padding: 0;
  color: rgba(0,0,0,0.70);

}

.Screen-forms-infos h2{
  font-size: 30px;
}

.Screen-forms-infos h4{
  margin-bottom: 10px;
  font-size: small;
  color: rgba(0,0,0,0.70);
}

.Screen-forms-infos input{
  background-color: rgb(184, 184, 184);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

.Screen-forms-infos a{
  font-size: 13px;
}

.Button-screen-login{

    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.Button-screen-login-submit {
  background-color: rgb(0, 133, 42);
  color: white;
  border: none;
  border-radius: 7px;
  width: 70px;
  height: 30px;
  text-decoration: none;
}

.Button-screen-login-submit b{
  text-decoration: none;
}



/* Register Screen */

.Border-Screen-RegisterStore{
  /* border: solid 3px black; */
  width: 360px;
  height: 760px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.40);
  
}

.Screen-image-register{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  color: white;
}

.Screen-image-register img{
  width: 80px;
}

.Screen-image-register p{
  font-size: x-large;
}









/* STORE - BOX INPUT NAME */


.Screen-store-name-box{
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Screen-store-name {
  width: 270px;
  display: flex;
  color: white;
}

.Screen-store-name p{
  width: 200px;
  display: flex;
  justify-content: center;
}

.Screen-store-name img{
  margin: 10px;
  padding: 0;
  width: 30px;
  height: 28px;
}

.Screen-store-name-box input{
  height: 25px;
  width: 270px;
}



/* STORE - BOX INPUT CNPJ */

.Screen-store-cnpj-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-store-cnpj-box p{
  align-items: start;
  color: white;
}

.Screen-store-cnpj-box input{
  height: 25px;
  width: 270px;
}


/* STORE - BOX INPUT ADDRESS */

.Screen-store-address-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-store-address-name {
  width: 270px;
  display: flex;
  flex-direction: row;
  color: white;
}

.Screen-store-address-number {
  width: 220px;
  margin-right: 10px;
}

.Screen-store-address-input-number {
  width: 220px;
  margin-right: 10px;
  height: 25px;
}

.Screen-store-address-number2 {
  height: 25px;
  width: 30px;
}

.Screen-store-address-number2 input{
  width: 30px;
}


/* STORE - INPUT SIGNATURE */

.Screen-store-signature-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-store-signature-box p{
  align-items: start;
  color: white;
}

.Screen-store-signature-box input{
  width: 270px;
  height: 25px;
}

/* STORE - INPUT REGION */

.Screen-store-region-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-store-region-box p{
  align-items: start;
  color: white;
}

.Screen-store-region-box input{
  width: 270px;
  height: 25px;
}

/* STORE - BUTTONS */

.Screen-store-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.Screen-store-button-prev{
  font-size: 15px;
  width: 70px;
  margin-right: 40px;
}

.Screen-store-button-save{
  font-size: 15px;
  width: 70px;
  margin-left: 40px;
}








/* MENU - SCRREN BUTTONS */

.Border-screen-menu{
  /* border: solid 3px black; */
  width: 360px;
  height: 760px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.40);
  
}

.Screen-image-menu{
  height: 200px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.Screen-image-menu img{
  width: 70px;
}


/* MENU - first buttons */
.Screen-menu-buttons-one {
  display: flex;
  justify-content: center;
  align-items:center;
  
}

.Button-menu-select1 { 
  margin: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
  color: black;
  width: 130px;
  height: 70px;
  border: none;
  text-decoration: none;
  
}
















/* Register User Screen */

.Border-Screen-RegisterUser{
  /* border: solid 3px black; */
  width: 360px;
  height: 760px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.40);
  
}

.Screen-image-registerUser{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  color: white;
}

.Screen-image-registerUser img{
  width: 80px;
}

.Screen-image-registerUser p{
  font-size: x-large;
}


/* STORE - BOX INPUT NAME */


.Screen-registerUser-name-box{
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Screen-registerUser-name {
  width: 270px;
  display: flex;
  color: white;
}

.Screen-registerUser-name p{
  width: 200px;
  display: flex;
  justify-content: center;
}

.Screen-registerUser-name img{
  margin: 10px;
  padding: 0;
  width: 30px;
  height: 28px;
}

.Screen-registerUser-name-box input{
  height: 25px;
  width: 270px;
}



/* STORE - BOX INPUT phone */

.Screen-registerUser-phone-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-registerUser-phone-box p{
  align-items: start;
  color: white;
}

.Screen-registerUser-phone-box input{
  height: 25px;
  width: 270px;
}


/* STORE - BOX INPUT password */

.Screen-registerUser-password-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-registerUser-password-name p{
  align-items: start;
  color: white;
}

.Screen-registerUser-password-box input{
  height: 25px;
  width: 270px;
}
.Screen-registerUser-password-box2 {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-registerUser-password-name2 p{
  align-items: start;
  color: white;
}

.Screen-registerUser-password-box2 input{
  height: 25px;
  width: 270px;
}


/* STORE - BUTTONS */

.Screen-registerUser-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.Screen-registerUser-button-prev{
  font-size: 15px;
  width: 70px;
  margin-right: 40px;
}

.Screen-registerUser-button-save{
  font-size: 15px;
  width: 70px;
  margin-left: 40px;
}


/* STORE - BOX INPUT Level Acess */

.Screen-registerUser-level-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-registerUser-level-name p{
  align-items: start;
  color: white;
}

.Screen-registerUser-level-box input{
  height: 25px;
  width: 270px;
}














/* Register User Screen */

.Screen-registerUser-name-box{
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Screen-registerUser-name {
  width: 270px;
  display: flex;
  color: white;
}

.Screen-registerUser-name p{
  width: 200px;
  display: flex;
  justify-content: center;
}

.Screen-registerUser-name img{
  margin: 10px;
  padding: 0;
  width: 30px;
  height: 28px;
}

.Screen-registerUser-name-box input{
  height: 25px;
  width: 270px;
}



/* STORE - BOX INPUT productDescription */

.Screen-registerUser-productDescription-box {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-registerUser-productDescription-box p{
  align-items: start;
  color: white;
}

.Screen-registerUser-productDescription-box input{
  height: 150px;
  width: 270px;
}

.Screen-registerProduct-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.Screen-registerProduct-button-prev{
  font-size: 15px;
  width: 70px;
  margin-right: 40px;
}

.Screen-registerProduct-button-save{
  font-size: 15px;
  width: 70px;
  margin-left: 40px;
}














/* ExchangeToken Screen */

.Border-Screen-ExchangeToken{
  background-color: rgb(0, 133, 42);
  width: 360px;
  height: 1300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.40);
  
}

.Screen-image-ExchangeToken{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  color: white;
}

.Screen-image-ExchangeToken img{
  width: 80px;
}

.Screen-image-ExchangeToken p{
  font-size: x-large;
}


/* ExchangeToken - BOX INPUT NAME */


.Screen-ExchangeToken-code-box{
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Screen-ExchangeToken-code {
  width: 270px;
  display: flex;
  color: white;
}

.Screen-ExchangeToken-code p{
  width: 200px;
  display: flex;
  justify-content: center;
}

.Screen-ExchangeToken-code img{
  margin: 10px;
  padding: 0;
  width: 30px;
  height: 28px;
}

.Screen-ExchangeToken-code-box input{
  height: 25px;
  width: 270px;
}

.Screen-ExchangeToken-checkbox-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-checkbox-box p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-checkbox-box input{
  height: 25px;
  width: 270px;
}


.Screen-ExchangeToken-nameStore-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-nameStore-box p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-nameStore-box input{
  height: 25px;
  width: 270px;
}


.Screen-ExchangeToken-codeProduct-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-codeProduct-box p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-codeProduct-box input{
  height: 25px;
  width: 270px;
}


/* ExchangeToken - BOX INPUT lote */

.Screen-ExchangeToken-lote-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-lote-box p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-lote-box input{
  height: 25px;
  width: 270px;
}


/* ExchangeToken - BOX INPUT data */

.Screen-ExchangeToken-data-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-data-box p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-data-box input{
  height: 25px;
  width: 270px;
}


/* ExchangeToken - BOX INPUT dataFabricacao */

.Screen-ExchangeToken-dataFabricacao-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-dataFabricacao-box p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-dataFabricacao-box input{
  height: 25px;
  width: 270px;
}


/* ExchangeToken - BOX INPUT dataVencimento */

.Screen-ExchangeToken-dataVencimento-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-dataVencimento-box p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-dataVencimento-box input{
  height: 25px;
  width: 270px;
}


/* ExchangeToken - BOX INPUT nameResponsavel */

.Screen-ExchangeToken-nameResponsavel-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-nameResponsavel p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-nameResponsavel-box input{
  height: 25px;
  width: 270px;
}
.Screen-ExchangeToken-nameRepositor-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-ExchangeToken-nameRepositor-name p{
  align-items: start;
  color: white;
}

.Screen-ExchangeToken-nameRepositor-box input{
  height: 25px;
  width: 270px;
}

/* STORE - BOX INPUT description */

.Screen-registerUser-description-box {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen-registerUser-description-box p{
  align-items: start;
  color: white;
}

.Screen-registerUser-description-box input{
  height: 150px;
  width: 270px;
}

.Screen-ExchangeToken-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.Screen-ExchangeToken-button-prev{
  font-size: 15px;
  width: 70px;
  margin-right: 40px;
}

.Screen-ExchangeToken-button-save{
  font-size: 15px;
  width: 70px;
  margin-left: 40px;
}




.Border-Screen-editUser{
  /* border: solid 3px black; */
  width: 360px;
  height: 860px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.40);
  
}